* {
  margin: 0;
  padding: 0;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 23px;
  color: #303030;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  max-height: 100vh;
  overflow-y: scroll;
  background-color: #f3f3f3;
  opacity: 1;
  transition: 3s opacity;
}
#page-wrap {
  box-sizing: content-box;
  text-align: left;
  width: 80%;
  margin: 0 calc((100vw - 80%) / 2);
}
.hidden {
  display: none;
}

.landing-page.fade {
  opacity: 0;
  transition: none;
}
#distributors {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 500ms ease-in-out;
}
#contact {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 500ms ease-in-out;
}
#impressum {
  display: none;
  overflow: hidden;
  height: 0;
  transition: height 500ms ease-in-out;
}
#distributors.is-visible {
  display: block;
  z-index: 50;
}
#contact.is-visible {
  display: block;
  z-index: 50;
}
#impressum.is-visible {
  display: block;
  z-index: 50;
}
#sub-page {
  background-color: #e0dad4;
}
.sub-page {
  background-color: #e0dad4;
  height: 100vh;
}

.flexbox {
  display: flex;
}

.container {
  width: 80%;
  margin: 0 10%;
}

#title {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
#title a {
  font-size: 2rem;
  text-decoration: none;
  display: inline-block;
}
#title a:hover {
  color: #303030;
  opacity: 0.7;
}
.header {
  height: 12.4vh;
  width: 100%;
  margin: 0;
  top: 0;
}
#header {
  position: fixed;

  left: 0;

  align-items: center;
  background-image: linear-gradient(
    to bottom,
    rgba(243, 243, 243, 1) 33%,
    rgba(243, 243, 243, 0.5) 67%,
    rgba(243, 243, 243, 0)
  );
}

#sup-header {
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
#header-content {
  margin: 1rem auto;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.page-content {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  scroll-snap-type: y mandatory;
  scroll-snap-type: y proximity;
  margin: 0vh 5% 0vh;
}
.page-content-standard {
  padding: 20vh 0 16vh;
}
.page-content-sub {
  align-content: center;
  align-items: center;
  height: 80vh;
  top: 0;
}

.impressum-page-content {
  margin: 10vh 5% 10vh;
}

.link {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.products {
  scroll-snap-align: start;
  flex-wrap: wrap;
  justify-content: center;
  padding: 6.4vh 0 14vh;
  align-items: start;
}
.mezcal-pic {
  width: 250px;
  margin: 0 2.5vw;
  object-fit: scale-down;
}
.product-name {
  font-size: 1.4em;
  text-transform: uppercase;
}
.product-info {
  width: 33%;
  margin: 0 2.5vw;
}
.product-info p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  font-size: 1.2em;
  font-weight: 300;
}
span {
  font-size: 1em;
  font-weight: 600;
}

#footer {
  background-color: #f3f3f3;
  width: 100%;
  position: relative;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12.4vh;
}
.line {
  background-color: #303030;
  height: 1px;
  width: 80%;
  margin: 0 10% 1.8rem;
}
.impressum-line {
  background-color: #303030;
  height: 1px;
  width: 44%;
  margin: 0 28% 1.24rem;
}

.lapidario {
  text-align: center;
  align-content: center;
}
.lapidario .line {
  width: 90%;
  margin: 0 5% 1.8rem;
}
.align-center {
}
#sub-text {
  margin: 0 0 1.86rem;
}
#sub-text p {
  font-size: 1.2em;
}
#sub-text p a {
  font-size: 1.2em;
}
#impressum-text {
  margin: auto 30%;
  width: 40%;
  white-space: pre-line;
}

#impressum-text p {
  font-size: 0.86em;
  line-height: 1.2em;
}
#impressum-text a {
  font-size: 1em;
  line-height: 1.2em;
}

.close-container {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.closeline {
  height: 2px;
  width: 50px;
  position: absolute;
  margin-top: 24px;
  background-color: #303030;
  border-radius: 1px;
  transition: all 0.2s ease-in;
}
.lefttoright {
  transform: rotate(45deg);
}
.righttoleft {
  transform: rotate(-45deg);
}

.close-container:hover .lefttoright {
  transform: rotate(0deg);
  background-color: rgba(48, 48, 48, 0.72);
}
.close-container:hover .righttoleft {
  transform: rotate(0deg);
  background-color: rgba(48, 48, 48, 0.72);
}
@media only screen and (min-width: 1920px) {
  * {
    font-size: 18.5px;
    line-height: 25px;
  }
  #page-wrap {
    box-sizing: content-box;
    text-align: left;
    width: 1920px;
    margin: 0 calc((100vw - 1920px) / 2);
  }

  #header {
    height: 12.4vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 1920px;
    margin: 0 calc((100vw - 1920px) / 2);
  }
}
@media only screen and (max-width: 870px) {
  * {
    font-size: 14.8px;
  }
  #header {
    background-image: linear-gradient(
      to bottom,
      rgba(243, 243, 243, 1) 54%,
      rgba(243, 243, 243, 0.86) 75%,
      rgba(243, 243, 243, 0)
    );
  }
  .page-content-standard {
    margin: 0 5% 0;
    padding: 20vh 0 4vh;
    width: 90%;
  }

  .products {
    padding: 6vh 0 8vh;
  }
  .product-info {
    margin: 2.5rem 10% auto;
    width: 80%;
  }
  .line {
    margin: 0 10% 1.34rem;
  }
  .mezcal-pic {
    max-height: auto;
    width: 80%;
    max-width: 250px;
    margin: 0 10%;
  }
  .impressum-line {
    width: 60%;
    margin: 0 15% 1.8rem;
  }
  #impressum-text {
    margin: auto 15%;
    width: 60%;
  }

  #footer {
    padding: 0.1rem 0 1.34rem;
  }
  .divide-line {
    background-color: #303030;
    height: 1px;
    width: 64%;
    margin: 0 18% 1.8rem;
  }
  .close-container {
    width: 36px;
    height: 36px;
  }

  .closeline {
    margin-top: 18px;
    width: 36px;
  }
}

@media only screen and (max-width: 640px) {
  * {
    font-size: 14px;
  }
  .mezcal-pic {
    max-height: auto;
    width: 90%;
    margin: 0 5%;
  }
  .product-info {
    margin: 2.5rem 5% auto;
    width: 90%;
  }
  .divide-line {
    background-color: #303030;
    height: 1px;
    width: 76%;
    margin: 0 12% 1.8rem;
  }
}
@media only screen and (max-width: 480px) {
  #footer .space-between {
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}
